@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,400&display=swap");

:root {
  --lighting-color: #0089b7;
  --dark-color: #003d62;
  --darker-color: #003251;
  --secondary-color: #fff700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body,
html {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  /* line-height: 1.4px; */
  scroll-behavior: smooth;
  color: #fff;
}

body {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style-type: none;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
}

header {
  background: var(--lighting-color);
  position: sticky;
  top: 0;
  z-index: 999;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.logo {
  font-size: 3rem;
  font-weight: bold;
}

nav ul {
  display: flex;
  gap: 1rem;
}

nav ul li {
  font-size: 1.8rem;
  border-bottom: 2px solid transparent;
  transition: 0.3s ease-in-out;
}

nav ul li:hover {
  border-bottom: 2px solid var(--secondary-color);
  transition: 0.3s ease-in-out;
}

#hero {
  background: var(--dark-color);
  padding: 4rem 0;
  border-bottom: 4px solid var(--lighting-color);
}

#hero .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero-content {
  display: grid;
  place-items: center;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hi-text {
  font-size: 6rem;
  color: var(--secondary-color);
  font-weight: bold;
}

.name-text {
  font-size: 5rem;
}

#hero h2 {
  font-size: 4rem;
  font-weight: bold;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

/* Project section */

#project h2 {
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
  margin: 2rem 0;
  padding: 6rem 0;
}
#project {
  background: var(--darker-color);
  margin-bottom: 2rem;
  /* padding: 2rem 0; */
}

/* .project-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(320px, 1fr));
  gap: 2rem;
} */

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  padding-bottom: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  width: 320px;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  transition: 1s ease-in-out;
}
.card:hover img {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
  opacity: 0.8;
}

.card:hover .card-content {
  background-color: white;
  color: var(--dark-color);
  transition: 0.3s ease-in-out;
  transform: translateY(0px);
}

.card-content {
  padding: 2rem;
  position: relative;
  top: -6rem;
  margin-bottom: -6rem;
  transition: 0.5s ease-in-out;
  transform: translateY(100px);
}

.card-content h3 {
  text-align: center;
}

#contact {
  background: var(--dark-color);
}

#contact h2 {
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
  margin: 2rem 0;
  padding: 6rem 0;
}

#contact .container {
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}

.top-contact {
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  margin: 0 auto;
 
}

.contact-way {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.contact-way i {
  font-size: 3rem;
}

.contact-way h3 {
  font-size: 3rem;
  font-weight: bold;
}

.bottom-contact {
  margin: 2rem auto;
  max-width: 400px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 1rem; 
} 

footer {
  background: var(--darker-color);
  padding: 2rem;
  text-align: center;
  font-size: 1.6rem;
  color: white;
}


@media (max-width:786px){
  html{
    font-size: 40%;
  }
  #hero .container {
    flex-direction: column;
  }
  .hero-image{
    display: grid;
    place-items: center;
  }
  #contact .container {
    max-height: 50vh;
  }
}

@media (max-width:500px){
  html{
    font-size: 32%;
  }
  #hero .container {
    flex-direction: column;
  }
  .hero-image{
    display: grid;
    place-items: center;
  }
  #contact .container {
    max-height: 50vh;
  }
}